<div class="jumbotron">
    {{#if user}}
        {{> links}}
        Debug: {{ user }}
    {{else}}
        <h1>Lnk.ski</h1>
        <p>Even your grandmother can figure it out!</p>
        <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a> <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
    {{/if}}
</div>