<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" method="post" action="/addlink">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></span>
                    <input type="text" class="form-control" name="link" placeholder="Add new link" aria-describedby="basic-addon1">
                    <span class="input-group-btn"><button class="btn btn-default" type="submit">+</button></span>
                </div>
            </div>
        </form>
    </div>

</div>


<div class="panel panel-default">
    <div class="panel-body" style="padding: 15px 15px 0px;">
{{# user.links }}
        <blockquote>
            <span class="badge"><i class="fa fa-times" aria-hidden="true"></i></span> <span class="badge"><i class="fa fa-info" aria-hidden="true"></i></span>
            <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        </blockquote>
{{else}}
    <blockquote>
        <p>No links saved <i class="fa fa-frown-o" aria-hidden="true"></i></p>
    </blockquote>
{{/ user.links }}
    </div>
</div>
