<h1>Lnk.ski</h1>
<p>Even your grandmother can figure it out!</p>

<form role="form" method="post" action="/login" class="form-inline">
    <div class="form-group">
        <input name="username" class="form-control" placeholder="Username">
        <input name="password" type="password" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form><br>
<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
<a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Google</a>
<a href="/auth/twitter" class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span> Twitter</a>
